@import './variables.scss';
@import './iconfont.scss';

@mixin size($w, $h: $w) {
  width: $w;
  height: $h;
}
/*
* 绝对居中
* $center 
*/
@mixin absCenter($center: true) {
  @if $center == true {
    justify-content: center;
  } @else {
    justify-content: space-between;
  }
  display: flex;
  align-items: center;
}

%ellipsis-basic {
  overflow: hidden;
  text-overflow: ellipsis;
}
// 文字溢出点点点
@mixin ellipsis($row:1) {
  @if $row == 1 {
    white-space: nowrap;
    @extend %ellipsis-basic;
  }@else {
    display: -webkit-box;
    -webkit-line-clamp: $row;
    -webkit-box-orient: vertical;
    @extend %ellipsis-basic;
  }
}

@mixin imgurl($path) {
  background: url($imgurl + $path) no-repeat;
}